$primaryColor: #2dcc89;
$neutral-black: #2b2b2b;
$neutral-grey: #767676;
$neutral-med-grey: #a4a4a4;
$neutral-lighter-grey: #ededed;
$neutral-light-grey: #f5f5f5;
$neutral-white: #ffffff;

$colours-yellow: #f9bd3e;
$colours-red: #fa7764;
$colours-blue: #4c95eb;
$colours-violet: #9d64fa;
$colours-green: #27ae60;
$colours-black: #000000;