.card {
  display: flex;
  box-sizing: border-box;
  padding: 8px;
  min-height: 40px;
  margin-bottom: 8px;
  font-size: 14px;
  user-select: none;
  background-color: #fff;
  color: #091e42;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);

  &.dragging {
    box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
  }

  &:hover,
  &:active {
    background-color: #f4f5f7;
  }
}
